@charset "utf-8";

.navbar-end > .navbar-item > .buttons > a.button {
  background-color: #3185c5;
  color: #ffffff;
  border-width: 0;
}

.navbar-end > .navbar-item > .buttons > a.button.bordered {
  background-color: white;
  color: #3185c5;
  border-width: 2px;
  border-color: #3185c5;
}

.navbar-burger:hover {
  background-color: white !important;
}

.near-top {
  top: 34px !important;
}

@media screen and (max-width: 1024px) {
  .navbar {
    max-height: 3.25rem;
  }

  .navbar-item-logo {
    padding: 0 !important;
  }

  .nav-logo {
    margin-top: -22px;
    max-height: 70px !important;
    max-width: 173px !important;
  }

  .mobile-reordered {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-reordered > :nth-child(1) {
    order: 2;
    //margin-left: auto;
    //margin-right: auto;
  }
  .mobile-reordered > :nth-child(2) {
    order: 1;
    margin-left: 0;
  }

  .mobile-reordered > :nth-child(3) {
    order: 3;
    margin-right: 0;
    width: 42px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    max-height: 3.25rem;
  }

  .nav-logo {
    margin-bottom: 40px;
    max-height: 150px !important;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block !important;
  }
  .navbar-item.is-hoverable:focus-within .navbar-dropdown {
    display: none;
  }
}

$navbar-background-color: #ffffff;
$navbar-item-color: #0b2c51;
$navbar-item-hover-color: #0b2c51;
$navbar-item-hover-background-color: #ffffff;
