body {
  padding-top: 5.25rem !important;
  background-image: url("/images/background-image.jpg");
}

h1 {
  color: #0b5aa6;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.titleTest {
  color: #0b5aa6;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.aligncenter {
  text-align: center;
}
